* {
  margin: 0; 
  border: 0;
}

body {
  width: 100%;
  background-color: black;
  color: white;
  font-family: 'Gilda Display', serif;
}

/* font-family: 'David Libre', serif;
font-family: 'Gilda Display', serif; */